<footer class="main-footer sticky footer-type-1">
				
   <div class="footer-inner">
   
      <!-- Add your copyright text here -->
      <div class="footer-text">
         &copy; 2022 
         <strong>Спортивный портал</strong> 
         
      </div>
      
      
      <!-- Go to Top Link, just add rel="go-top" to any link to add this functionality -->
      
      
   </div>
   
</footer>