<footer>
   
      <div class="footer-top">
         <div class="container">
            <div class="subscribe-block">
               <img src="assets/img/gmail-icon.png" alt="" id="gmail-icon">
               <img src="assets/img/telegram-icon.png" alt="" id="telegram-icon">
            </div>
         </div>
      </div>
      <div class="footer-bottom">
         <div class="container">
            Спортивные новости, 2022
         </div>
         
      </div>
   
   
</footer>

<script src="assets/js/global.js"></script>
</body>
</html>