<nav class="header">
   <div class="container">

      
      <ul class="nav-ul">
         <li><a href="http://<%=HOST%>:<%=PORT%>/youtube-rss">Youtube RSS</a></li>
         <!-- <li><a href="">Публикации</a></li> -->
         <li><a href="http://<%=HOST%>:<%=PORT%>/rss">RSS</a></li>
      </ul>


      
   </div>
</nav>