<aside>
   <div class="email-sider">
      <img class="mail-img" src="assets/img/mail.svg" alt="">
      <span>Подпишитесь на рассылку</span>
      <input type="text" placeholder="email">
      <div class="email-subscribe-button">Подписаться</div>
   </div>
   <div class="email-sider telegram">
      <img class="mail-img" src="assets/img/telegram-icon.png" alt="">
      <span>Подпишитесь в telegram</span>
      
      <div class="email-subscribe-button">Перейти</div>
   </div>
   <% if (siderBanner) { %>
   <div class="banner-sider">
      <a href="<%=siderBanner.link%>" class="sider-link">
         <img src="http://<%=HOST%>:<%=PORT%>/<%=siderBanner.img_url%>" alt="" class="sider-image">
      </a>
      
      
   </div>
   <%}%>
</aside>

<style>
   .banner-sider {
      height: auto;
      background-color: white;
      width: 12rem;
      position: relative;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      
      margin: 1rem 0.4rem;
   }

   .sider-link {
      display: inline-block;
   }

   .sider-image {
      max-width: 100%;
      max-height: 100%;
   }

   .email-sider {
      height: 10rem;
      background-color: white;
      width: 12rem;
      position: relative;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      border-radius: 0.5rem;
      margin: 1rem 0.4rem;
}
.mail-img {
   display: block;
   position: absolute;
   top: -0.4rem;
   right: -1rem;
   transform: rotate(45deg);
   width: 3.2rem;
}
</style>
