<aside>
   <div class="email-sider">
      <img class="mail-img" src="assets/img/mail.svg" alt="">
      <span>Подпишитесь на рассылку</span>
      <input type="text" placeholder="email">
      <div class="email-subscribe-button">Подписаться</div>
   </div>
   <div class="email-sider telegram">
      <img class="mail-img" src="assets/img/telegram-icon.png" alt="">
      <span>Подпишитесь в telegram</span>
      
      <div class="email-subscribe-button">Перейти</div>
   </div>
</aside>