* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}



html {
   font-size: 20px;
   font-family: 'Montserrat', sans-serif;
   background-color: #FFFFFF;
}

body {
   min-height: 100vh;
   position: relative;
}

main {
   min-height: 100vh;
}

.container {
   margin: 0 auto;
   max-width: 1000px;
   padding: 0 1rem;
   height: 100%;
}

.grid-content-wrapper {

   height: 15rem;
   width: 100%;
   display: flex;
}

main {

   margin-top: 1rem;
   height: 100%;
   width: 100%;
}

.youtube-rss h2 {
   display: block;
   font-weight: 500;
   font-size: 1rem;
   border-bottom: 0.05rem solid #B1B1B1;
   margin-bottom: 1rem;
}

.youtube-rss h2::before {
   display: inline-block;
   content: '';
   height: 0.5rem;
   width: 0.5rem;
   border-radius: 50%;
   margin-right: 0.4rem;
   background-color: brown;
}

.main-block {
   width: 65%;
   height: 15rem;
   overflow: hidden;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-right: 0.2rem;
   position: relative;

}

.side-blocks {
   display: flex;
   flex-direction: column;
   width: 35%;
}

.side-blocks-separator {
   height: 0.2rem;
}


.side-block {
   flex: 1 1 0;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 50%;
   overflow: hidden;
   object-fit: cover;
   position: relative;
}



.main-block::before {
   content: '';
   height: 0%;
   width: 100%;
   box-shadow: 0px 0 0.5rem 6rem rgba(0, 0, 0, .7);
   bottom: 0;
   left: 0;
   position: absolute;
   z-index: 1;
}

.grid-content-author {
   font-weight: 500;
}

.grid-content-author::before {
   display: inline-block;
   content: '';
   height: 0.5rem;
   width: 0.5rem;
   border-radius: 50%;
   margin-right: 0.2rem;
   background-color: brown;
}

.grid-content-title {
   font-size: 0.7rem;
   font-weight: 400;

   color: white;

   z-index: 2;

}

.side-block::before {
   content: '';
   height: 0%;
   width: 100%;
   box-shadow: 0px 0px 1rem 4rem rgba(0, 0, 0, .8);
   bottom: 0;
   left: 0;
   position: absolute;
   z-index: 1;
}

.grid-content-about {
   position: absolute;
   color: white;
   bottom: 0.7rem;
   left: 0.5rem;
   z-index: 2;
}

.grid-content-img {
   display: block;
   width: 100%;
   box-shadow: inset 0px 0px 60px 10px #000;
   position: relative;
}

.main-block::after {
   content: 'Смотреть';
   color: white;
   text-align: center;
   line-height: 15rem;
   position: absolute;
   height: 100%;
   width: 100%;
   top: 0;
   left: 0;
   z-index: 3;
   background-color: rgba(0, 0, 0, .6);
   transition: all .3s;
   opacity: 0;
   cursor: pointer;
}

.main-block:hover::after {
   opacity: 100;
}

.side-block::after {
   content: 'Смотреть';
   color: white;
   text-align: center;
   line-height: 7.5rem;
   position: absolute;
   height: 100%;
   width: 100%;
   top: 0;
   left: 0;
   z-index: 3;
   background-color: rgba(0, 0, 0, .6);
   transition: all .3s;
   opacity: 0;
   cursor: pointer;
}

.side-block:hover:after {
   opacity: 100;
}



nav {
   background-color: white;
   height: 2rem;
   line-height: 2rem;

}

nav ul li {
   list-style: none;
   position: relative;
   margin-right: 2rem;
}

nav>ul li a {
   display: block;
   text-decoration: none;
   color: black;
   z-index: 4;

   font-size: 0.8rem;

   font-weight: 500;
}

nav>ul {
   display: flex;

}

nav ul ul {
   display: none;
   position: absolute;
   background-color: white;
   z-index: 6;
   border-radius: 0.1rem;

}

nav ul li ul li {
   margin-right: 0rem;
}

nav ul li ul a {
   line-height: 1rem;
   margin: 0.2rem 0;
   padding: 0 0.8rem;

}

nav ul li ul a:hover {
   background-color: #FF4545;
   color: white;
}

nav ul li a:hover {
   color: #FF4545;
}

nav ul li:hover ul {
   display: block;
}



header {
   background-color: white;
   box-shadow: 0 0 1rem 0.5rem rgba(0, 0, 0, .1);
}


.rss-content {
   display: flex;
   margin-top: 1.5rem;
}

.rss-content-posts {

   flex: 1 0 auto;
}

aside {

   margin-left: 0.5rem;
   background-color: #FAFAFA;
   display: flex;
   flex-direction: column;
   align-items: center;
   flex-direction: column;
}

.email-sider {
   height: 10rem;
   background-color: white;
   width: 12rem;
   position: relative;
   overflow: hidden;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   border-radius: 0.5rem;
   margin: 1rem 0.4rem;
}

.email-sider input {
   display: block;
   border-radius: 0.5rem;
   height: 1.2rem;
   width: 10rem;
   border: 0.07rem solid #B1B1B1;
   padding: 0 0.5rem;
   outline-color: #FF4545;
   margin-top: 0.4rem;
}

.email-sider span {
   margin-top: 0.5rem;
   font-size: 0.7rem;
   font-weight: 500;
}

.email-subscribe-button {
   font-size: 0.8rem;
   color: white;
   background-color: #FF4545;
   padding: 0.2rem 0.4rem;
   border-radius: 0.5rem;
   margin-top: 0.5rem;
   cursor: pointer;
   position: relative;
   line-height: 1rem;
}

.email-subscribe-button:hover:after {
   opacity: 100;
}

.email-subscribe-button::after {
   opacity: 0;
   display: block;
   content: 'Подписаться';
   position: absolute;
   top: 0;
   left: 0;
   line-height: 1.4rem;
   font-size: 0.8rem;
   color: white;
   background-color: black;
   transition: .3s all;
   border-radius: 0.5rem;
   text-align: center;

   cursor: pointer;
   height: 100%;
   width: 100%;
}





.mail-img {
   display: block;
   position: absolute;
   top: -0.5rem;
   right: -1.3rem;
   transform: rotate(45deg);
   height: 3.2rem;
}

.rss-post-link {
   text-decoration: none;
   color: black;
   font-size: 0.8rem;
   width: 100%;
}

.rss-post-category {
   font-size: 0.6rem;
}

.rss-post-category::before {
   display: inline-block;
   content: '';
   height: 0.5rem;
   width: 0.5rem;
   border-radius: 50%;
   margin-right: 0.2rem;
   background-color: brown;
}

.rss-post-title {
   margin-top: 0.5rem;
   font-weight: 500;
}

.rss-post-bottom {
   display: flex;
   color: #B1B1B1;
   margin-top: 0.3rem;

}

.rss-post-content {
   margin-top: 0.3rem;
}

.rss-post {
   border-bottom: 0.01rem dashed #B1B1B1;
   margin-bottom: 1rem;
   padding-bottom: 0.2rem;
}

.rss-post-date svg {
   height: 0.8rem;
   width: auto;
   margin-left: 0.5rem;
}

.rss-post-date {
   display: flex;
   justify-content: center;
   align-items: center;
}

.rss-post-date span {
   margin-left: 0.2rem;
}



header h1 {
   font-size: 1.2rem;
   font-weight: 600;
   padding-top: 1rem;
}

header h1::after {
   display: inline-block;
   content: '';
   height: 0.5rem;
   width: 0.5rem;
   border-radius: 50%;
   margin-right: 0.2rem;
   background-color: brown;
   margin-left: 0.2rem;
}

.rss h2 {
   display: block;
   font-weight: 500;
   font-size: 1rem;
   border-bottom: 0.05rem solid #B1B1B1;
   margin-bottom: 1rem;
}

.rss h2::before {
   display: inline-block;
   content: '';
   height: 0.5rem;
   width: 0.5rem;
   border-radius: 50%;
   margin-right: 0.4rem;
   background-color: brown;
}


.blog-post {
   font-size: 0.8rem;
   display: flex;
   border-bottom: 0.01rem dashed #B1B1B1;
   margin-bottom: 1rem;
   padding-bottom: 0.5rem;
}

.blog-post .rss-post {
   border-bottom: none;
   margin-bottom: 0.1rem;
}

.blog-post img {
   max-height: 9rem;
   width: 16rem;
   object-fit: cover;
   aspect-ratio: 16/9;

   margin-right: 0.5rem;
}

.blog-content a {
   color: black;
   text-decoration: none;
}

.rss-post-content {

   display: -webkit-box;
   -webkit-line-clamp: 5;
   -webkit-box-orient: vertical;
   overflow: hidden;
}

.footer-top {
   background-color: #282828;
   height: 5rem;
}

.footer-bottom {
   background-color: #242424;
   height: 2rem;
}

.youtube-watch-wrapper {
   height: 100vh;
   width: 100%;
   position: absolute;
   top: 0;
   left: 0;
   background-color: rgba(0, 0, 0, .9);
   z-index: 6;
   display: flex;
   justify-content: center;
   align-items: center;
}

.watch-video iframe {
   height: 80vh;
   max-width: 80vw;
   aspect-ratio: 560/315;

}

.close svg {
   height: 1.5rem;
   width: auto;
   cursor: pointer;
}

.close {
   position: absolute;
   top: 1rem;
   right: 1rem;
}

.login-wrapper {
   height: 100%;
   width: 100%;
   position: absolute;
   top: 0;
   left: 0;
   background-color: rgba(0, 0, 0, .9);
   z-index: 6;
   display: flex;
   justify-content: center;
   align-items: center;
   opacity: 0;
   transition: .2s all;
}

.login-block {
   width: 15rem;
   height: 10rem;
   background-color: white;
   border-radius: 0.5rem;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   position: fixed;
   top: 50%;
   transform: translateY(-50%);
}

.login-block .close svg {
   fill: black;
}

.login-block .close {
   top: 0.2rem;
   right: 0.2rem;
}

.login-block h2 {
   font-size: 1rem;
}

.login-block input {
   display: block;
   border-radius: 0.5rem;
   height: 1.2rem;
   width: 10rem;
   border: 0.07rem solid #B1B1B1;
   padding: 0 0.5rem;
   outline-color: #FF4545;
   margin-top: 0.4rem;
}

.login-button {
   font-size: 0.8rem;
   color: white;
   background-color: #FF4545;
   padding: 0.2rem 0.4rem;
   border-radius: 0.5rem;
   margin-top: 0.5rem;
   cursor: pointer;
   position: relative;
   line-height: 1rem;
}

.login-button:hover:after {
   opacity: 100;
}

.login-button:hover {}

.login-button::after {
   opacity: 0;
   display: block;
   content: 'Войти';
   position: absolute;
   top: 0;
   left: 0;
   line-height: 1.4rem;
   font-size: 0.8rem;
   color: white;
   background-color: black;
   transition: .3s all;
   border-radius: 0.5rem;
   text-align: center;

   cursor: pointer;
   height: 100%;
   width: 100%;
}

.header-bottom {
   display: flex;
   justify-content: space-between;
   font-size: 0.7rem;
   align-items: center;
}

.header-bottom span {
   line-height: 1rem;
   cursor: pointer;

}

.header-bottom span:hover {
   color: #FF4545;
}

.registration-wrapper {
   height: 100%;
   width: 100%;
   position: absolute;
   top: 0;
   left: 0;
   background-color: rgba(0, 0, 0, .9);
   z-index: 6;
   display: flex;
   justify-content: center;
   align-items: center;
   opacity: 0;
   transition: .2s all;
}

.registration-wrapper .login-block {
   height: 15rem;
}

.user {
   display: flex;
   align-items: center;
   cursor: pointer;
   position: relative;
}


.user img {
   height: 0.7rem;
   display: block;
   margin-right: 0.2rem;

}

.user-name:hover~.user-menu {
   opacity: 100;
}

.user-menu:hover {
   opacity: 100;
}

.user-menu {
   display: block;
   position: absolute;
   top: 1.2rem;
   right: 1.8rem;
   opacity: 0;
   transition: .4s all;
   z-index: 70;
}

.user-menu ul {
   list-style: none;
   background-color: white;
   border-radius: 0.1rem;
   padding: 0.2rem 0;
}

.user-menu ul li {

   padding: 0 0.6rem;
}

.user-menu ul li:hover {
   background-color: #FF4545;
   color: white
}

.error-message {
   position: absolute;
   top: 1rem;
   right: 1rem;
   padding: 0.2rem 0.4rem;
   color: white;
   font-size: 0.8rem;
   background-color: brown;
   max-width: 20rem;
   width: auto;
   opacity: 0;
   transition: .3s all;
   z-index: 8;
}

.add-publication-button {
   height: 1.4rem;
   font-size: 1.6rem;
   line-height: 1.4rem;
   box-shadow: 0 0 1rem 0.01rem rgba(0, 0, 0, .2);
   width: 1.4rem;
   text-align: center;
   border-radius: 0.2rem;
   margin-left: 0.4rem;
   opacity: 100;

   position: relative;
}

.user a {
   color: black;
   text-decoration: none;
}

.add-publication-button::before {
   content: '+';
   position: absolute;
   top: 0;
   left: 0;
   font-size: 1.6rem;
   box-shadow: 0 0 1rem 0.01rem rgba(0, 0, 0, .2);
   text-align: center;
   border-radius: 0.2rem;
   opacity: 0;
   width: 100%;
   height: 100%;
   transition: .3s all;

}


.add-publication-button:hover::before {
   opacity: 100;
   background-color: #FF4545;
   color: white;
}


@media (max-width: 766px) {
   html {
      font-size: 18px;
   }

   .grid-content-wrapper {
      flex-direction: column;
      height: 36rem;
   }

   .main-block {
      width: 100%;
      height: 12rem;
      margin-bottom: 0.2rem;
   }

   .main-block::after {
      line-height: 12rem;
   }

   .side-blocks {
      width: 100%;
      height: 24rem;
   }

   .side-block {
      flex: none;
      width: 100%;
      height: 12rem;
      margin-bottom: 0.2rem;
   }

   .side-block::after {
      line-height: 12rem;
   }

   .blog-post {
      flex-direction: column;
   }

   .blog-post img {
      width: 100%;

   }

   aside {
      display: none;

   }

   .blog-post .rrs-post{
      margin-bottom: 0.3rem;
   }
}

.subscribe-block {
   display: flex;
   height: 100%;
   align-items: center;
   justify-content: center;
}

.subscribe-block img{
   cursor: pointer;
   display: block;
   height: 1.5rem;
   margin-right: 0.5rem;
}

.footer-bottom{
   font-size: 0.8rem;
   color: white;
   line-height: 2rem;
}

.telegram {
   height: 8rem;
}

.telegram img {
   transform: none;
   right: -0.5rem;
}

.telegram .email-subscribe-button::after{
   content: 'Перейти';
}

.email-wrapper{
   opacity: 0;
}

.registration-wrapper .login-block.email-block {
   height: 7rem;
}