main {
   margin-top: 0;
}

main img {
   display: block;
   width: 100%;
   max-height: 20rem;
   object-fit: cover;
   
}

.img-block{
   position: relative;
   overflow: hidden;
   min-height: 10rem;
}

main .img-block::after {
   content: '';
   height: 0%;
   width: 100%;
   
   
   bottom: 0;
   left: 0;
   position: absolute;
   z-index: 1;
}

.publication-header{
   box-shadow: 0 0 2rem 3rem rgba(0, 0, 0, .7 );
   background-color: rgba(0, 0, 0, .7 );
   position: absolute;
   bottom: 0;
   color: white;
   z-index: 2;
   padding-bottom: 0.3rem;
   left: 50%;
   transform: translateX(-50%);
   width: 100%;
}



.rss-post-bottom{
   font-size: 0.7rem;
}

.rss-post-title{
   font-size: 1.4rem;
   font-weight: 600;
}

.publication-wrapper{
   display: flex;
   margin-top: 1.5rem;
   margin-bottom: 1.5rem;
}

.publication-body{
   flex: 1 0 0;
}

/* aside{
   width: 15rem;
   height: 200px;
   background-color: #FAFAFA
} */

.publication-body{
   display: block;
   white-space: wrap;
   max-width: 40rem;
   padding: 0 1rem;
}